
ul {
    border-radius: 10px;
}

li {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
}

div.body {
    margin-top: 16px;
}

div.name {
    font-weight: bold;
    color: #383a3c;
}

div.email {
    font-size: 13px;
    color: #3981bd;
    font-weight: 700;
}